#account img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
  border: 2px solid transparent;
  transition-duration: 0.25s;
  object-fit: cover;
  object-position: top;
}

#account img:hover {
  border: 2px solid #ff8b99;
}
